/* .Sign__up {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
} */
hr{
  margin-bottom: 20px;
  border: 0.2px solid rgb(2, 2, 2);
  /* height: 2px; */
}
.sign__up-page > nav> h3{
  padding: 20px 6px;
text-align: left;
}
.sign__up-page{
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* justify-items: flex-start; */
}
.form__container {
 border: 1px solid black;
 padding: 20px 30px;
}
.form__container > input{
  
}
.input__field{
  display: flex;
  justify-content: space-between;
  margin: 18px;
}
.input__field > label {
  flex: 1;
}
.spanishidnumber {
  /* flex: 0.2; */
  margin: auto;
}
.sex__label{
  flex: 0.3;
  margin: 0 auto;
}
.radio__male-female{
  flex: 0.56;
}
.input__field> input{
   height: 25px;
   
}
.input__field> input:focus{
   border: 1px solid blue;
  
}
.sign__up-open{
    /* display: block; */
}


 /* position: absolute;
  left: 50%;
  top: 50%;
  padding: 8px 20px;
  background-color: rgb(0, 255, 251);
  transform: translate(-50%, -50%);
  text-align: left;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1000; */